h3 {
  padding-top: 0.1875rem;
  padding-left: 0.375rem;
}

div.col1 {
  width: 35%;
}

div.col2 {
  width: 60%;
  margin-left: 5%;
  margin-top: .75rem;
}

mat-list-item mat-icon {
  font-size: .75rem;
  margin-top: 1.25rem;
  margin-right: .5rem;
}

.completed-list {
  margin-top: 1rem;
}

.total {
  margin-top: .75rem;
}

.progress-row {
  margin-top: 1rem;
}
