<div *ngIf="!!robot">
  <div fxLayout="row">
    <div fxFlex="100%" fxLayoutAlign="center">
      <h2>Work with {{ robot.name }}</h2> <h3>({{ type }} Robot)</h3>
    </div>
  </div>
  <div fxLayout="row">
    <div class="col1">
      <app-tasks
        [disableSelect]="tasks.length >= 5"
        (taskSelected)="taskSelected($event)"
      ></app-tasks>
      </div>
    <div class="col2">
      <mat-chip-list aria-label="List of Tasks">
        <mat-chip
          *ngFor="let task of tasks"
          color="primary"
        >
          {{ task.description }}
          <button matChipRemove (click)="removeTask(task)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
